*.iml
.gradle
/local.properties
.idea/
.kotlin/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/common/network/network.properties
gradle/gradle-daemon-jvm.properties
.gigacode/
.opencode/
